*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:#66627d;
}

.container{
    width:90%;
    max-width:800px;
    background:#111;
    padding:40px;
    border-radius:20px;
}

h1{
    text-align:center;
    color:white;
    margin-bottom:30px;
}

label{
    color:white;
    display:block;
    margin:15px 0 10px;
    font-size:24px;
}

input,
textarea{
    width:100%;
    padding:15px;
    border:none;
    border-radius:10px;
    font-size:18px;
    margin-bottom:20px;
}

button{
    width:100%;
    padding:15px;
    background:#4CAF50;
    color:white;
    border:none;
    border-radius:10px;
    font-size:24px;
    cursor:pointer;
}

button:hover{
    opacity:0.9;
}
