*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #6d6988;
}

.container {
    width: 520px;          /* controls form width */
    padding: 35px;
    background: #111;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.3);
}

h1 {
    font-size: 28px;
    margin-bottom: 25px;
}

label {
    font-size: 16px;
    margin-bottom: 8px;
    margin-top: 18px;
}

input,
textarea{
    width: 100%;
    padding: 12px;
    font-size: 16px;
    border-radius: 8px;
}

textarea {
    height: 80px;
}

button {
    padding: 12px;
    font-size: 18px;
    margin-top: 20px;
}

button:hover{
    opacity:0.9;
}
